<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col logo">
                     <%= image_tag "logo.png", alt: "Avito", class: "avito-logo" %>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <h4>AVITO VÉHICULES</h4>
                    <ul>
                        <li><a href="#">Voitures</a></li>
                        <li><a href="#">Motos</a></li>
                        <li><a href="#">Vélos</a></li>
                        <li><a href="#">Camions et Engins</a></li>
                        <li><a href="#">Bateaux</a></li>
                        <li><a href="#">Autres Véhicules</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h4>AVITO IMMOBILIER</h4>
                    <ul>
                        <li><a href="#">Ventes Immobilières</a></li>
                        <li><a href="#">Locations Immobilières</a></li>
                        <li><a href="#">Colocations Immobilières</a></li>
                        <li><a href="#">Location de Vacances</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h4>AVITO ENTREPRISE</h4>
                    <ul>
                        <li><a href="#">Emploi</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Stages, Cours et Formations</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h4>AVITO MARKET</h4>
                    <ul>
                        <li><a href="#">Informatique, Multimédia et Gadgets</a></li>
                        <li><a href="#">Équipement pour Bébé et Enfant</a></li>
                        <li><a href="#">Maison et Jardin</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
            <div class="row">
                <div class="col">
                    <p>&copy; Avito Group 2012-2025 | <a href="#">Protection utilisateur</a> | <a href="#">Règlement</a> | <a href="#">Qui sommes-nous?</a></p>
                </div>
                <div class="col social-links">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>